In [6]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
import joblib as jb
import pickle

In [10]:
df=pd.read_csv('spam.csv', sep='\t', names=['label','message'])
df.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [11]:
df.shape

(5572, 2)

In [12]:
df['label']=df['label'].map({'ham':0, 'spam':1})

In [13]:
df

      label                                            message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567      1  This is the 2nd time we have tried 2 contact u...
5568      0               Will ü b going to esplanade fr home?
5569      0  Pity, * was in mood for that. So...any other s...
5570      0  The guy did some bitching but I acted like i'd...
5571      0                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [18]:
X=df['message']
y=df['label']

In [19]:
# Extract Features using countvectorizer
cv=CountVectorizer()
X=cv.fit_transform(X)  # fit the data

In [28]:
# creating a pickle file
pickle.dump(cv, open('transform.pkl','wb'))

In [29]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train, y_test=train_test_split(X,y,test_size=0.33, random_state=42)

In [30]:
X_train.shape

(3733, 8713)

In [38]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(X_train,y_train)

MultinomialNB()

In [39]:
model.score(X_test, y_test)

0.9836867862969005

In [40]:
pickle.dump(model,open('nlp_model.pkl','wb'))